<main class="container">
  <div class="header">
    <h1>Books</h1>
    <%= link_to "New book",
                new_book_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @books %>
</main>
